<html>
    <head>
        <title>Stephen Chow</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    </head>
    <body>
        
        <div class="ui fixed inverted menu">
            <div class="header item"><i class="code icon"></i><a href="/">Stephen Chow</a></div>
            <a href="/education" class="item">Education</a>
            <a href="/work" class="item">Work</a>
            <a href="/projects" class="item">Projects</a>
            <a href="/photography" class="item">Photography</a>
            <a href="coding" class="item">Coding</a>
            <a href="/contactme" class="item">Contact Me</a>
        </div>
