<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="page-header">
                <h1>Coding</h1>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="ui main text container">
    <h1>Coding</h1>
    <div class="ui header">Places to Learn</div>
    <div class="ui top attached segment">
            <h4>Places to Learn</h4>
            <div class="ui main text container">
                <ul>
                    <li>CodeAcademy</li>
                    <li>Meetups/Hackathons</li>
                    <li>Udemy</li>
                    <li>StackOverflow</li>
                </ul>
            </div>
        
        <div class="col-md-12">
            <h4>Podcasts</h4>
            <div class="ui main text container">
                <ul>
                    <li>Learn To Code with Me</li>
                    <li>FreeCodeCamp</li>
                    <li>Udemy</li>
                    <li>StackOverflow</li>
                </ul>                    
            </div>
        </div>
        <div class="col-md-12">
            <h4>Websites</h4>
            <div class="ui main text container">
                <ul>
                    <li><a href="https://learntocodewith.me/">Learn to Code With Me</a></li>
                    <li>FreeCodeCamp</li>
                    <li>Udemy</li>
                    <li>StackOverflow</li>
                </ul>   
            </div>
        </div>
        <div class="col-md-12">
            <h4>Interesting Articles</h4>
            <div class="ui main text container">
                <ul>
                    <li><a href="https://learntocodewith.me/">Learn to Code With Me</a></li>
                    <li>FreeCodeCamp</li>
                    <li>Udemy</li>
                    <li>StackOverflow</li>
                </ul>   
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>
