<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="page-header">
                <h1>Coding Resources</h1>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="ui main text container">
    <div class="ui top attached segment">
        <h4>Places to Learn</h4>
        <div>
            <ul>
                <li><a href="https://www.codeacademy.com/">CodeAcademy</a></li>
                <li><a href="https://www.meetup.com">Meetups</a></li>
                <li><a href="https://www.hackathon.com/">Hackathons</a></li>
                <li><a href="https://www.Udemy.com/">Udemy</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="ui main text container">
            <h4>Podcasts</h4>
            <div class="ui top attached segment">
                <ul>
                    <li><a href="https://learntocodewith.me/">Learn To Code with Me</a></li>
                    <li><a href="https://freecodecamp.libsyn.com/">FreeCodeCamp-Medium</a></li>
                </ul>                    
            </div>
        </div>
</div>
<div class="ui main text container">
    <h4>Websites</h4>
    <div class="ui top attached segment">
        <ul>
            <li><a href="https://learntocodewith.me/">Learn to Code With Me</a></li>
            <li><a href="https://medium.freecodecamp.org/">FreeCodeCamp</a></li>
        </ul>   
    </div>
</div>

<div class="ui main text container">
    <h4>Interesting Articles</h4>
    <div class="ui top attached segment">
        <ul>
            <li><a href="https://medium.freecodecamp.org/what-exactly-is-node-js-ae36e97449f5">What exactly is Node.js?</a></li>
            <li><a href="https://medium.com/@GarrettLevine/5-projects-to-complete-when-starting-to-learn-front-end-web-development-48e8a1ce3178">5 Projects To Complete When Starting to Learn Front-End Web Development</a></li>
            <li><a href="https://skillcrush.com/2018/06/18/projects-you-can-do-with-javascript/">10 Projects You Can Do With JavaScript</a></li>
        </ul>   
    </div>
</div>

<% include ./partials/footer %>
