<% include ./partials/header %>

<div>
    <div class="ui main text container">
        <div class="ui top attached segmnent">
            <h1>About Me</h1>
            <img src="https://media.licdn.com/dms/image/C5603AQFACqHHdzrNuw/profile-displayphoto-shrink_200_200/0?e=1542844800&v=beta&t=Gx8GyOXJ3u4EPZ4IVLy_DqAjhovm9bp-bnFpIuCh7DI">
        </div>
        
    </div>    

    <div class="ui text container">
        <p>Born and raised in LA and recently relocated to the Bay Area for work. I curerntly work in biotech, but am learning Web Development in my free time. When I'm not learning to code I can be found at the gym, outdoors, exploring the city, playing sports, or catching up with friends over a beer.</p>
    </div>

    <div class="ui main text container">
        <h1>Let's get in touch!</h1>
        <form>
            First Name: <br><input type="text" name="firstname" value=""></input></br>
            Last Name: <br><input type="text" name="lastname" value=""></input></br>
            Email: <br><input type="text" name="email" value=""></input></br>
            <input type="submit">
        </form>
    </div>
    
        <div class="container">
                <i class ="facebook icon"></i>
                <i class ="instagram icon"></i>
                <i class="LinkedIn icon"></i>
        </div>
</div>



<% include ./partials/footer %>

