<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Education</div>
    <div class="ui top attached segment">
        <div class="ui fluid image">
            <img src = "https://images.unsplash.com/photo-1516244098312-8f37cc853656?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=142da916a8cdb51ffc8f7e34788f28c1&auto=format&fit=crop&w=1506&q=80">
        </div>
        <p>I studied Molecular Cellular Developmental Biology at the University of California, Santa Cruz from 2012-2016. I am a scientist/biologist by training but I have recently discovered a newfound passion for coding. Some resources I've used for learning are Code Academy, FreeCodeCamp, and Colt Steele's "Online Web Development Bootcamp" course on Udemy.</p>
    </div>
    
    <a href="https://www.linkedin.com/in/stephen-chow-938b3b11b">LinkedIn</a>



<% include ./partials/footer %>
