<% include ./partials/header %>

<div class= "ui main text container">
    <div class="ui fluid image">
        <img src="https://images.unsplash.com/photo-1538772426575-12aa2b8ff6b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b91aee2003f4d495d3e75cfa5bd669a&auto=format&fit=crop&w=1334&q=80">
    </div>
    <div class="ui huge header">"Only you can change your life. No one can change it for you"</div>
    <div class="a">
        <h3>- Someone Famous</h3>
    </div>
    
</div>

<% include ./partials/footer %>

