<% include ./partials/header %>

<div class="container">
    <!--Not sure why jumbotron is here. It looks nice, but kinda large... Resize it -->
     <header class="jumbotron">
        <div class="container">
            <h1><a href="https://www.instagram.com/thech0w/"><i class ="instagram icon"></i></a>Photography</h1>
            
            <p>Some photos taken and curated by me!</p>
        </div>
    </header>
</div>

<!-- ADD ARRAY/OBJECT W/PHOTOS TO APP.JS AND USE FOREACH() LOOP IN EJS TO LOOP THROUGH PHOTOS -->
<!-- ALSO ADD SHOW PAGE FOR EACH INDIVIDUAL IMAGE SO CAN SEE LARGER IMAGE -->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="thumbnail">-->
<!--            <div class="col-md-6">-->
<!--                <img class="responsive" src="/pictures/image4.jpg">-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <img class="responsive" src="/pictures/image5.jpg">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="thumbnail">-->
<!--            <div class="col-md-6">-->
<!--                <img class="responsive" src="/pictures/image6.jpg">-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <img class="responsive" src="/pictures/image7.jpg">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/pictures/image10.jpg">                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image11.jpg">                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image15.jpg">                
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                
 <!--Images are static so when using express, need to go in public directory which is static -->
                <img src="/pictures/image7.jpg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image8.jpg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image9.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image16.jpg">                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image13.jpg">                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image14.jpg">                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image17.jpg">                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image18.jpg">                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/pictures/image4.jpg">                
            </div>
        </div>
    </div>
</div>





<% include partials/footer %>


<!--Currently using both Semantic UI and Bootstrap so need to figure out how to use both or just one -->