<% include ./partials/header %>




    
<a href="https://www.instagram.com/thech0w/"></a>

 <div class="container">
     <header class="jumbotron">
        <div class="container">
            <h1>Photography</h1>
            <i class ="instagram icon"></i>
            <p>A few photos taken and curated by me!</p>
        </div>
        
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Some of my Photos!</h3>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AANNXKhN91Rk7idxWzdxZc6Yeg_mM5NSwiHuUOrYuAuk35DiqSANvHKS5lS_r2CFcSs8eOZ-VNcCB4tg_YWOU6CyMrUM46A9ArsoX0df282V_P0naT8SSHCmcrYmopLcX9t2DNoMByWlhHFJkFpiF_pGueQvEivwgHBeN3DcK5HK7w/p.jpeg?size=2048x1536&size_mode=3">
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAO7CeUVcMtqApK2LhAmqF4jdc5pwapxLanJzdX6FgUtVVdH3DEk6VD9reyvRf_JTVQPtwp2WsipaCFfBN2lxlxhpj0FGdYTy4tS4ZX0fSWAxgAykkmHpQntzDg4-Eztaq05RUxWHpW-Seu59n0RP396I1O6NbR5Jt-or_5y05oM0g/p.jpeg?size=2048x1536&size_mode=3">                
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAOHwJH4vQBviFhObW5XGGqS8xjF1V-ojn0JvtXvw1bh-xF0Ez5WnQD3TDbb0ApnZpDZV4gWCl1TAhJpUoMP0axR7RdYFHsS8i19hqJ-QBfqdLMDLh_iKQpMHy1q_S0pViKxnPgVGc2FVGPVA9PINvpMcAU0zNia-Ue0R6oA00fg6w/p.jpeg?size=2048x1536&size_mode=3">                
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAM5ybc8ec0c8nBTk4A6AY2Ma2456F5Zit_kh-Og1jTcY8-ei-1SSZr5ycGaBomfBusmvS1z3SK-u77ddpcEB_XQiU6H-9oaIg4gcK9b--La0aouyYf5yoAUHsE1-irIxplCOJh4f1sU-w89w_jsKJkRC0TeB2g5cQXQ59XE_aw1zA/p.jpeg?size=2048x1536&size_mode=3">                
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAP_x6SvFC3IeRFJm7R9TpLyDj6wLEkPw423k5eZrFTOb6reiXQWN2p2RmqdDEj1rWRK9dy-HclcY4Lwh5DVYFLDyKrJ3Q0XyFaX6kHrwJijxW09F9Xf8a6sL3jGuH59xvbiMSzY2pLbq3UyCnM84vu3SMJ2JnreFQypLOgqHmBR2Q/p.jpeg?size=2048x1536&size_mode=3">                
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAMkYkLdEYmRvs03NYgVl7ei8Uz2-ZPFaPU8yqqGYqeyHSH3NfGUxr166s0SdvAQKCx4VrFolxRl5F7awOPqu4V3_RV-fei6JE1PiitFcKC58Yxjw02_lJ4IQFIuDCyVOn8mdcdmJYUbeWyK3QLlvN-450UNcGXZhoYalme0S0s7tg/p.jpeg?size=2048x1536&size_mode=3">                
                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAP1JaV3Z-PEqyzlwweunbfRBBy4CMuDfixBmCvLVR71hXU_H0eD1XnEfc5DfPaEzhrJPuLCuMBJ1lH1RBNv8Jj1r7G_3vxZpwQI3gW0NBAR7yzuqeb2_VHHl2iADQzbQyq_kfSxLzmbVhURMGiHmr_9ZLE9WIQNcJJedEibKYgGCA/p.jpeg?size=2048x1536&size_mode=3">                

                <img class="ui large image" src="https://previews.dropbox.com/p/thumb/AAOCzRMCjMw9Oo6NbUJ5LCcOQbe_HjcOTiLuwTmleV-z8PcgYeS5WQ_oSLk8tkihcsYqxeaCj3kYkcIeLwU-lH5M6nZHSGXGQntW706YhbOWNwohH1kxRWF9D3rDBWn70SDWzBcGAlw_-hz_egLWtcg6zHp1KJChxnzH-06lfPw1oQ/p.jpeg?size=2048x1536&size_mode=3">                
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>


<!--Currently using both Semantic UI and Bootstrap so need to figure out how to use both or just one -->