<% include ./partials/header %>

<a href="https://www.instagram.com/thech0w/"></a>

<div class="container">
    <!--Not sure why jumbotron is here. It looks nice, but kinda large... Resize it -->
     <header class="jumbotron">
        <div class="container">
            <h1>Photography</h1>
            <i class ="instagram icon"></i>
            <p>****Disclaimer photos not taken by me. My personal photos coming soon!****</p>
        </div>
    </header>
</div>

<!-- REFER TO MAIN.CSS IN YELPCAMP TO REMOVE PADDING ON THUMBNAIL -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" class="img-responsive" src="https://images.unsplash.com/photo-1539067143050-ef15d2e49536?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4cd271efcac5c7cd42da216c33063dc4&auto=format&fit=crop&w=800&q=60">                
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1539023032992-ae77eacac916?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=901c5c951abcee02a30229fda0248880&auto=format&fit=crop&w=800&q=60">                
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1539075563500-5a6104cea788?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f514b8f5245377b60bc87915cc2feda&auto=format&fit=crop&w=800&q=60">                
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1539035104074-dee66086b5e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5729f18a6a6b8ab1b2e2108964227ae5&auto=format&fit=crop&w=800&q=60">
            </div>
        </div>
    </div>
</div>



<% include partials/footer %>


<!--Currently using both Semantic UI and Bootstrap so need to figure out how to use both or just one -->