<% include ./partials/header %>

<div class="ui main text container">
    <div>
        <h1>Projects</h1>
    </div>
    <div class="ui header">Web Development Projects</div>
    <div class="ui top attached segment">
        <div>
            <h4>WebDevelopment</h4>
            
                <ul>
                    <li><a href="https://floating-oasis-69326.herokuapp.com/">YelpCamp</a></li>
                    <li><a href="https://webdevbootcamp-schow94.c9users.io/blogs">CodeBlog</a></li>
                    <li><a href="https://peaceful-everglades-45453.herokuapp.com/">Personal Website</a></li>
                    
                </ul>
        </div>
            
    </div>
    <div class="ui main text container">
    <div class="ui header">Science Publications</div>
    <div class="ui top attached segment">
        <div>
            <h4>UC Santa Cruz</h4>
                <ul>
                    <li><a href="https://www.dropbox.com/s/u5aevf4xh00r625/Lab%20Report-Exp%20%233.docx?dl=0">Extraction, Isolation, & Characterization of LDH from Bovine Hearts</a></li>
                </ul>
        </div>
            
        <h4>UCSF</h4>
    </div>
</div>
        
        
    
    <a href="https://www.linkedin.com/in/stephen-chow-938b3b11b">LinkedIn</a>



<% include ./partials/footer %>
