<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui header">University of California San Francisco (2017-Present)</div>
    <div class="ui top attached segment">
        <p>
            <h4>Research Associate(Immunology)</h4>
            <p>
                <ul>
                    <li>TRECs</li>
                    <li>CRISPR/Cas9</li>
                    <li>T-cell Receptor(TCR) Deep Sequencing</li>
                    <li>Cloning(TA/TOPO, Gibson Assembly)</li>
                </ul>
            </p>
            <h4><a href="http://kwoklab.ucsf.edu/">Lab Manager(Genetics)</a></h4>
            <p>
                Process samples with Bionano Genomic's proprietary technology that utilizes nondestructive chemistry for sequence motif labeling of genomic DNA that will be run on a Saphyr instrument for rapid, high-throughput, long-range genome mapping to study structural variation and develop better reference genomes.
            </p>
        </p>
    </div>
    <div class="ui main text container">
    <div class="ui header">Merieux Nutrisciences (2016-2017)</div>
    <div class="ui top attached segment">
        <p>Utilize my degree and passion for science and health to test mainly food products for food-borne pathogens and other contaminants using PCR-based assays, immunoassays, and microbiological techniques to quickly return results to clients.
        </p>
    </div>
    <div>
        <p><a href="https://www.linkedin.com/in/stephen-chow-938b3b11b">LinkedIn</a></p>
        <p><a href="https://www.linkedin.com/in/stephen-chow-938b3b11b/detail/treasury/summary/?entityUrn=urn%3Ali%3Afs_treasuryMedia%3A(ACoAAB3j9nwBqP_Jo4cNg0Rn6T4aeFUHlFjfy-U%2C1516169797528)&section=summary&treasuryCount=1">Resume</a></p>
    </div>
    
    



<% include ./partials/footer %>
